body{
  background-image: url('../assets/images/Headphones.jpg');
  background-size: 110%;
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
  text-align: center;
}
#title{
  font-size: 2.5em;
  font-family: 'Elsie Swash Caps', cursive;
  color: whitesmoke;
}
#subtitle{
  font-size: 1.5em;
  font-family: 'Elsie Swash Caps', cursive;
  color: whitesmoke;
  margin-bottom: 2em;
}
#search-box{
  padding:14px 54px;
  background:#e4e4e4;
  border:0px solid #AF1795;
  font-size: 1.2em;
}
#search-box:focus {
    outline: none !important;
    box-shadow: 0 0 15px #AF1795;
}
#search-button{
  position:relative;
  padding:12px 25px;
  left:-8px;
  border:2px solid #AF1795;
  background-color:#AF1795;
  color:#fafafa;
  font-size: 1.2em;
}
#search-button:hover{
  background-color:#fafafa;
  color:#AF1795;
  box-shadow: 0 0 15px #AF1795;
}
.artist-results{
  list-style-type: none;
  font-size: 1.5em;
  font-family: 'Fjalla One', sans-serif;
  color: #333333;
  background-color: #e4e4e4;
  opacity: 0.8;
  width: 50%;
  margin: auto;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.artist-results a{
  padding-top: 0.5em;
  color: #333333;
  font-size: 0.8em;
}
.related-results{
  padding-top: 0.5em;
  font-size: 0.8em;
  -webkit-column-count: 2;
}
