@import 'artists';
@import 'related';

body{
  background-image: url('../assets/images/Headphones.jpg');
  background-size: 110%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.content{
  text-align: center;
}
.title{
  font-size: 2.5em;
  font-family: 'Elsie Swash Caps', cursive;
  color: whitesmoke;
}
.subtitle{
  font-size: 1.5em;
  font-family: 'Elsie Swash Caps', cursive;
  color: whitesmoke;
  margin-bottom: 2em;
}
.search-box{
  padding:14px;
  background:#e4e4e4;
  border:0px solid #AF1795;
  font-size: 1.2em;
  width: 300px;
  &:focus {
    outline: none !important;
    box-shadow: 0 0 15px #AF1795;
  }
}
.search-button{
  position:relative;
  padding:12px 25px;
  left:-8px;
  border:2px solid #AF1795;
  background-color:#AF1795;
  color:#fafafa;
  font-size: 1.2em;
  transition: .2s;
  cursor: pointer;
  &:hover{
    background-color:#fafafa;
    color:#AF1795;
    box-shadow: 0 0 15px #AF1795;
  }
}
