<div class="results">
  <ul class="artist-results">
    Search Results for {{artistName}}:
    {{#each model.artists as |artist|}}
      <li {{action "select" artist.id}} class="search-results"><a href="#">{{artist.name}}</a></li>
    {{/each}}
  </ul>
</div>
