<div id="results">
  <ul class="artist-results">
    Search Results for {{artistName}}:
    {{#each model.artists as |artist|}}
      <li {{action "select"}} class="search-results">{{#link-to 'index.related' id}}{{artist.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>
