<div id="results">
  <ul>
    Search Results for {{artistName}}:
    {{#each model.artists as |artist|}}
      <li {{action "select"}}>{{#link-to 'index.related' id}}{{artist.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>
