<div id="results">
  <ul class="artist-results">
    Here are some similar artists that you might like:
    {{#each model.artists as |artist|}}
      <li class="related-results">{{artist.name}}</li>
    {{/each}}
  </ul>
</div>
